<div>
    <h1 class="text-center">Health Risk Factors Appraisal</h1>
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label">收缩压(sbp)</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" ng-model="hra.sbp" placeholder="mmHg" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">舒张压(dbp)</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" ng-model="hra.dbp" placeholder="mmHg" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">胆固醇</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" ng-model="hra.chole" placeholder="mg/dl" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">糖尿病史</label>
            <div class="col-sm-3">
                <select class="form-control" ng-model="hra.dm" required>
                    <option value="1">有</option>
                    <option value="2">无</option>
                    <option value="3">有，但已控制</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">运动情况</label>
            <div class="col-sm-3">
                <select class="form-control" ng-model="hra.sport" required>
                    <option value="1">坐着工作和娱乐</option>
                    <option value="2">极少活动</option>
                    <option value="3">适当活动</option>
                    <option value="4">经常活动</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">家庭史</label>
            <div class="col-sm-3">
                <select class="form-control" ng-model="hra.family" required>
                    <option value="1">父母亲70岁前死于心脏病</option>
                    <option value="2">父母二人之一70岁已前死于心脏病</option>
                    <option value="3">无心脏病家庭史</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">吸烟</label>
            <div class="col-sm-3">
                <select class="form-control" ng-model="hra.smoke" required>
                    <option value="1">40支以上</option>
                    <option value="2">20-39支</option>
                    <option value="3">10-19支</option>
                    <option value="4">1-9支</option>
                    <option value="5">无</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">体重</label>
            <div class="col-sm-3">
                <select class="form-control" ng-model="hra.weight" required>
                    <option value="1">超重60%</option>
                    <option value="2">超重40%</option>
                    <option value="3">超重20%</option>
                    <option value="4">正常</option>
                    <option value="5">低体重</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-3">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> 记住我
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-3">
                <button type="submit" class="btn btn-primary btn-block btn-lg" ng-click="hraSub()" data-toggle="modal"
                        data-target="#hraModal">评估
                </button>
            </div>
        </div>
    </form>
</div>

<div class="modal fade" id="hraModal" tabindex="-1" role="dialog"
     aria-labelledby="hraModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="hraModalLabel">
                    HRA Reault
                </h4>
            </div>
            <div class="modal-body">
                在这里添加一些文本
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">确定
                </button>
            </div>
        </div>
    </div>
</div>